# Created by Antigravity

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
out/
build/

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Misc
.DS_Store
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.pytest_cache/
